[submodule "deps/makeself"]
	path = deps/makeself
	url = https://github.com/megastep/makeself.git
[submodule "deps/libbsd"]
	path = deps/libbsd
	url = https://gitlab.freedesktop.org/libbsd/libbsd.git
[submodule "deps/musl"]
	path = deps/musl
	url = git://git.musl-libc.org/musl
[submodule "deps/linux-headers"]
	path = deps/linux-headers
	url = https://github.com/sabotage-linux/kernel-headers.git
